{% extends "base.html" %}

{% block content %}
    <div class="container">
        <br />
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
        {% endwith %}
        <br />

        <div class="row align-items-center justify-content-center">
            <h1>Add a User</h1>
        </div>
        <br />

        <form method="POST">
            <label for="username">Username</label>
            <div class="form-row">
            <input
                class="form-control"
                type="text"
                placeholder="Username"
                id="username"
                name="username"
            />
            </div>
            <br />
            <div class="form-row">
            <label for="email">Email</label>
            <input
                class="form-control"
                type="text"
                placeholder="Email"
                id="email"
                name="email"
            />
            </div>
            <br />
            <div class="form-row ">
            <label for="password">Password</label>
            <input
                class="form-control "
                type="password"
                placeholder="Password"
                id="password"
                name="password"
            />
            </div>

            <br />
            <button type="submit " class="btn btn-primary " style="float:right ">
            Submit
            </button>
        </form>
        <br /><br />
    </div>
{% endblock %}